@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("مرحبا " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">تسجيل خروج</a></li>
    </ul>
    }
}
else
{
    <ul class=" navbar-right" style="margin:3px">
        <li style="font-size:15px">@Html.ActionLink("تسجيل", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li style="font-size:15px">@Html.ActionLink("تسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
